<launch>
  <!-- launches the simulated world -->
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"/>

  <!-- get sensors online -->
  <include file="$(find turtlebot_gazebo)/launch/gmapping_demo.launch"/>

  <!-- octomap -->
  <include file="$(find octomap_server)/launch/added/octomap_tracking_server_custom.launch"/>

  <!-- View in Rviz -->
  <include file="$(find octomap_server)/launch/added/view_octomapping.launch"/>

  <!-- Teleoperate -->
  <node name="new_terminal_teleop" pkg="octomap_server" type="keyboard_teleop.sh" />
</launch>
