<launch>
  <!-- <include file="$(find test_3d_nav_gazebo)/launch/gazebo_wg.launch"/> -->
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"/>

  <include file="$(find test_3d_nav_gazebo)/launch/3d_nav_environment_sim.launch"/>

  <include file="$(find test_3d_nav_executive)/launch/move_base_sbpl_3d.launch"/>

</launch>
